<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>immersive exhibitions</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>

  </head>
  <body>

    <!-- Homepage section -->
    <section class="container page-top">
      <img src='images/IE2.jpg' class='img-responsive'>
    </section>

    <!-- video section -->
    <section class="container video">
      <div class="row">

      </div>
    </section>

    <!-- exhibitions archive section-->
    <section class='container exhibition-archives'>
      <div class='row'>
        <div class='col-md-10 col-md-offset-1'>
          <legend>exhibition archives</legend>
            <div id='exhibitions'></div>
    </div>

    <!-- add new exhibition form! -->
    <section id='exhibition-form' class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">

          <form class="form-horizontal" method='POST' action='/api/exhibitions'>
            <fieldset>

              <!-- Form Name -->
              <legend>add new exhibition</legend>

              <!-- Button -->
              <div class="form-group">
                <div class="col-md-4">
                  <button type='submit' class="btn btn-default addBtn">
                    <span class='glyphicon glyphicon-plus' aria-hidden='true'></span>
                  </button>
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label">title</label>
                <div class="col-md-4">
                  <input name="title" type="text" class="form-control input-md" required="">
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label">artist name</label>
                <div class="col-md-4">
                  <input name="artistName" type="text" class="form-control input-md" required="">
                </div>
              </div>

             <!-- Text input-->
             <div class="form-group">
               <label class="col-md-4 control-label">location</label>
               <div class="col-md-4">
               <input name="location" type="text" placeholder="MoMA, San Francisco" class="form-control input-md" required="">

               </div>
             </div>

             <!-- Text input -->
             <div class="form-group">
               <label class="col-md-4 control-label">exhibition dates</label>
               <div class="col-md-4">
                 <input name="exhibitionDates" type="text" placeholder="" class="form-control input-md" required="">
               </div>
             </div>

             <!-- Text input -->
             <div class="form-group">
               <label class="col-md-4 control-label">website</label>
               <div class="col-md-4">
                 <input name="website" type="text" placeholder="" class="form-control input-md" required="">
               </div>
             </div>

           </fieldset>
         </form>
       </div>
     </div>
   </section>

  </body>
</html>
