body {
  background-color: #000;
}

.page-top, .video {
  height: 900px;
  background-color: #000;
}

.btn-default {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.btn-default:hover {
  color: #fff;
  background-color: #26004d;
  border-color: #000;
}

.list-group-item {
  background-color: #000;
  color: #fff;
  border-color: #000;
  font-family: 'Roboto Mono', monospace;
  font-size: 17px;
}

.form-control {
  background-color: #000;
  border: 1px solid #2a0051;
}

label {
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: 17px;

}

.thumbnail {
  border-color: #000;
  border-radius: 0px
}

.exhibition-thumb {
  background: url(http://i2.cdn.cnn.com/cnnnext/dam/assets/160803135630-14-teamlab-super-169.jpg) 50% 50% no-repeat;
  height: 190px;
}
