body {
  background-color: #000;
}

.page-top, .video {
  height: 900px;
  background-color: #000;
}

.btn-default {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.btn-default:hover {
  color: #fff;
  background-color: #876ce4;
  border-color: #000;
}

.panel-heading {
  padding-left: 170px;
}

.panel-body {
  padding-left: 100px;
}

.list-group-item {
  background-color: #000;
  color: #fff;
  border-color: #000;
  font-family: 'Roboto Mono', monospace;
  font-size: 17px;
  padding: 0;
  text-align: center;
}

.form-control {
  background-color: #000;
  border: 1px solid #2a0051;
}

label, h3 {
  color: white;
  text-decoration: none;
  font-family: 'Roboto Mono', monospace;
  font-size: 17px;

}

p {
  font-family: 'Roboto Mono', monospace;

}

a {
  color: white;

}

a:hover {
  color: #876ce4;
}

.exhibition-img {
    margin-bottom: 25px;
}
